{% include 'header.twig' %}

<div class="divider"></div>

<div id="content">

<div class ="left">
	<h1>Resultat</h1>
	<p>
		<a href="showposters.php?KeepThis=true&amp;TB_iframe=true&amp;height=620&amp;width=740" class="thickbox" title="Posters">Visa posters</a>
	</p>

    <table class='list' cellspacing='0'>

    {% for movie in movies %}
        {% if loop.index0 is even %} <tr><td></td>
        {% else %} <tr class='odd'><td class='tableleft'>&nbsp;</td>{% endif %}

        <td><a id='id{{ movie.id }}' href='movie.php?id={{ movie.id }}&amp;KeepThis=true&amp;TB_iframe=true&amp;height=380&amp;width=640' class='thickbox' title='Info'>
        {% if movie.title|length > 45 %}{{ movie.title|slice(0, 45)|escape}}
        {% else %}{{ movie.title|escape}}{% endif %}
        </a></td>

        <td>{{ movie.rating }}</td><td>{{ movie.imdb }}</td><td>{{ movie.icon }}</td>
		<td><a href='editmovie.php?id={{ movie.id }}&amp;KeepThis=true&amp;TB_iframe=true&amp;height=220&amp;width=440' class='thickbox' title='Ändra'>
			<img src='img/icon/icon_edit.png' alt='' /></a></td>
		
		{% if loop.index0 is even %}<td></td></tr>
        {% else %}<td class='tableright'>&nbsp;</td></tr>{% endif %}

    {% endfor %}
<!--
		if(!($i & 1))
			echo "<tr class='odd'><td class='tableleft'>&nbsp;</td>";
		else
			echo "<tr><td></td>";
		
		echo "<td><a id='id$line[id]' href='movie.php?id=$line[id]&amp;KeepThis=true&amp;TB_iframe=true&amp;height=380&amp;width=640' class='thickbox' title='Info'>";
		if( strlen($line['title']) > 45)
			echo stripslashes(substr($line['title'], 0, 45)).'..';
		else
			echo stripslashes($line['title']);
			
		echo "</a></td>";
		
		if($line['places_name'] != '')
			$place = $line['places_name'];
		else
			$place = '(osorterad)';
			
		echo "<td>$rating</td><td>$imdb</td><td>$icon</td>\n";
		echo "<td><a href='editmovie.php?id=$line[id]&amp;KeepThis=true&amp;TB_iframe=true&amp;height=220&amp;width=440' class='thickbox' title='Ändra'>
			<img src='img/icon/icon_edit.png' alt='' /></a></td>";
		
		if(!($i & 1))
			echo "<td class='tableright'>&nbsp;</td></tr>";
		else
			echo "<td></td></tr>";
-->

    </table>

</div> <!-- end left -->


<div class="feature">
	<div class="featuretop"><img src="img/fetop.gif" alt="" /></div>
	<div class="featurecontent">
	<h1>Min lagring</h1>




	<div class="clear">&nbsp;</div>
	</div> <!-- end featurecontent -->
	<div class="featurebottom"><img src="img/febottom.gif" alt="" /></div>

</div> <!-- end feature -->

<script type="text/javascript">
$(document).ready(function(){

});
</script>

{% include 'footer.twig' %}

